:root {
  //  colors
  --main-background-color: #84a278;

  --card-icecream-background-color: #aec6a5;
  --card-icecream-decorate-circle: #9cbe8f;
  --card-icecoffee-background-color: #efd478;
  --card-milkshakes-decorate-circle: #d5753f;

  --btn-default-color: #f8d24e;
  --btn-hover-color: #0a8817;
  --btn-disabled-color: #ababab;

  --primary-text-color: #fcfcfc;
  --accent-text-color: #000;
  --card-description-color: #131313;
  --primary-title-color: #fff;
  --contacts-accent-text-color: #d6936d;
  --copyright-text-color: #7a7a7a;

  --decorate-line-color: #e1e1e1;
  --decorate-dots-disabled-color: #d9d9d9;
  //   fonts
  --primary-font-family: 'Montserrat';
  --secondary-font-family: 'Seymour One';

  --primary-font-weight: 400;
  --primary-font-size: 14px;
  --secondary-font-size: 16px;
  --input-font-size: 12px;
  --secondary-line-height: 24px;
}
