@import '~node_modules/modern-normalize/modern-normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700&family=Seymour+One&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

:root {
  --main-background-color: #84a278;
  --card-icecream-background-color: #aec6a5;
  --card-icecream-decorate-circle: #9cbe8f;
  --card-icecoffee-background-color: #efd478;
  --card-milkshakes-decorate-circle: #d5753f;
  --btn-default-color: #f8d24e;
  --btn-hover-color: #0a8817;
  --btn-disabled-color: #ababab;
  --primary-text-color: #fcfcfc;
  --accent-text-color: #000;
  --card-description-color: #131313;
  --primary-title-color: #fff;
  --contacts-accent-text-color: #d6936d;
  --copyright-text-color: #7a7a7a;
  --decorate-line-color: #e1e1e1;
  --decorate-dots-disabled-color: #d9d9d9;
  --primary-font-family: "Montserrat";
  --secondary-font-family: "Seymour One";
  --primary-font-weight: 400;
  --secondary-font-weight: 700;
  --btn-font-weight: 600;
  --products-suptitle-font-weight: 800;
  --customer-data-font-weight: 500;
  --primary-font-size: 14px;
  --secondary-font-size: 16px;
  --title-mobile-menu-font-size: 32px;
  --input-font-size: 12px;
  --hero-mobile-btn-font-size: 8px;
  --title-hero-mobile-font-size: 26px;
  --products-suptitle-mobile-font-size: 18px;
  --products-title-mobile-font-size: 30px;
  --card-title-font-size: 20px;
  --about-accent-mobile-font-size: 36px;
  --footer-accent-mobile-font-size: 34px;
  --mobile-menu-title-tablet-font-size: 48px;
  --products-suptitle-tablet-font-size: 22px;
  --hero-title-desktop-font-size: 38px;
  --about-accent-desktop-font-size: 58px;
  --primary-line-height: 20px;
  --secondary-line-height: 24px;
  --card-description-mobile-line-height: 25px;
  --title-line-height: 32px;
  --title-hero-mobile-line-height: 33px;
  --hero-mobile-btn-line-height: 9px;
  --title-mobile-menu-line-height: 39px;
  --btn-line-height: 15px;
  --input-line-height: 17px;
  --products-suptitle-line-height: 22px;
  --products-title-line-height: 38px;
  --about-up-description-line-height: 21px;
  --about-bot-description-line-height: 19px;
  --about-btn-line-height: 16px;
  --about-accent-mobile-line-height: 42px;
  --customer-review-line-height: 31px;
  --customer-data-line-height: 37px;
  --footer-accent-mobile-line-height: 41px;
  --mobile-menu-title-tablet-line-height: 59px;
  --hero-suptitle-tablet-line-height: 23px;
  --hero-title-tablet-line-height: 13px;
  --products-suptitle-tablet-line-height: 27px;
  --products-title-tablet-line-height: 43px;
  --hero-title-desktop-line-height: 48px;
  --products-title-desktop-line-height: 45px;
  --card-description-desktop-line-height: 28px;
  --about-accent-desktop-line-height: 71px;
  --customer-review-desktop-line-height: 30px;
  --contacts-accent-desktop-line-height: 29px;
  --secondary-letter-spacing: 0.04em;
  --copyright-tablet-letter-spacing: 0.02em;
  --footer-accent-desktop-letter-spacing: 0.06em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about {
  background-color: var(--main-background-color);
  padding-top: 60px;
  padding-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding-bottom: 40px;
  }
}

.about__subtitel {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  font-weight: var(--secondary-font-weight);
  font-size: var(--products-suptitle-mobile-font-size);
  line-height: var(--products-suptitle-line-height);
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .about__subtitel {
    font-weight: var(--products-suptitle-font-weight);
    font-size: var(--products-suptitle-tablet-font-size);
    line-height: var(--products-suptitle-tablet-line-height);
    text-align: center;
    letter-spacing: var(--footer-accent-desktop-letter-spacing);
  }
}
@media screen and (min-width: 1200px) {
  .about__subtitel {
    font-size: var(--products-title-mobile-font-size);
  }
}

.about__titel {
  font-family: var(--secondary-font-family);
  color: var(--primary-text-color);
  font-weight: var(--primary-font-weight);
  font-size: var(--products-title-mobile-font-size);
  line-height: var(--products-title-line-height);
  text-align: center;
  letter-spacing: var(--secondary-letter-spacing);
  text-transform: uppercase;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .about__titel {
    font-size: var(--footer-accent-mobile-font-size);
    letter-spacing: var(--footer-accent-desktop-letter-spacing);
    margin-top: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .about__titel {
    font-size: var(--about-accent-mobile-font-size);
    line-height: var(--products-title-desktop-line-height);
  }
}

.about__content-wrapper {
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .about__content-wrapper {
    display: flex;
    margin-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .about__content-wrapper {
    margin-top: 82px;
    align-items: center;
  }
}

.about__img-background {
  display: block;
  background-color: var(--btn-default-color);
  width: 278px;
  height: 278px;
  border-radius: 140px;
  margin: 0 auto;
  box-shadow: 0px 5.30813px 19.9055px rgba(153, 114, 23, 0.25);
}
@media screen and (min-width: 768px) {
  .about__img-background {
    width: 330px;
    height: 330px;
    border-radius: 166px;
  }
}
@media screen and (min-width: 1200px) {
  .about__img-background {
    width: 500px;
    height: 500px;
    border-radius: 250px;
    margin: 0;
  }
}

.about__img {
  position: unset;
  display: block;
  position: absolute;
  margin-top: 21px;
}
@media screen and (min-width: 768px) {
  .about__img {
    margin-top: 25.88px;
  }
}
@media screen and (min-width: 1200px) {
  .about__img {
    margin-top: 39px;
  }
}

.about__text-wrapper {
  width: 220px;
  margin: 0 auto;
  margin-top: 62px;
}
@media screen and (min-width: 768px) {
  .about__text-wrapper {
    width: 334px;
  }
}
@media screen and (min-width: 1200px) {
  .about__text-wrapper {
    width: 463px;
    margin-left: 100px;
  }
}

.about__text {
  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
  font-size: var(--input-font-size);
  line-height: var(--about-up-description-line-height);
  /* or 21px  or 176%*/
  text-align: center;
  letter-spacing: var(--secondary-letter-spacing);
  color: var(--primary-text-color);
}
@media screen and (min-width: 768px) {
  .about__text {
    text-align: left;
    line-height: var(--secondary-line-height);
  }
}
@media screen and (min-width: 1200px) {
  .about__text {
    font-size: var(--primary-font-size);
    line-height: var(--products-suptitle-tablet-line-height);
  }
}

@media screen and (max-width: 768px) {
  .about__text-item {
    display: none;
  }
}

.about__button {
  margin: 20px auto;
  display: flex;
}
@media screen and (min-width: 768px) {
  .about__button {
    margin-top: 40px;
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about__button {
    margin-top: 48px;
    margin-left: 0;
  }
}/*# sourceMappingURL=index.css.map */