@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700&family=Seymour+One&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

:root {
  --main-background-color: #84a178;
  --card-icecream-background-color: #aec6a5;
  --card-icecream-decorate-circle: #9cbe8f;
  --card-icecoffee-background-color: #efd478;
  --card-milkshakes-decorate-circle: #d5753f;
  --btn-default-color: #f8d24e;
  --btn-hover-color: #0a8817;
  --btn-disabled-color: #ababab;
  --primary-text-color: #fcfcfc;
  --accent-text-color: #000;
  --card-description-color: #131313;
  --primary-title-color: #fff;
  --contacts-accent-text-color: #d6936d;
  --copyright-text-color: #7a7a7a;
  --decorate-line-color: #e1e1e1;
  --decorate-dots-disabled-color: #d9d9d9;
  --primary-font-family: "Montserrat";
  --secondary-font-family: "Seymour One";
  --primary-font-weight: 400;
  --secondary-font-weight: 700;
  --btn-font-weight: 600;
  --products-suptitle-font-weight: 800;
  --customer-data-font-weight: 500;
  --primary-font-size: 14px;
  --secondary-font-size: 16px;
  --title-mobile-menu-font-size: 32px;
  --input-font-size: 12px;
  --hero-mobile-btn-font-size: 8px;
  --title-hero-mobile-font-size: 26px;
  --products-suptitle-mobile-font-size: 18px;
  --products-title-mobile-font-size: 30px;
  --card-title-font-size: 20px;
  --about-accent-mobile-font-size: 36px;
  --footer-accent-mobile-font-size: 34px;
  --mobile-menu-title-tablet-font-size: 48px;
  --products-suptitle-tablet-font-size: 22px;
  --hero-title-desktop-font-size: 38px;
  --about-accent-desktop-font-size: 58px;
  --primary-line-height: 20px;
  --secondary-line-height: 24px;
  --card-description-mobile-line-height: 25px;
  --title-line-height: 32px;
  --title-hero-mobile-line-height: 33px;
  --hero-mobile-btn-line-height: 9px;
  --title-mobile-menu-line-height: 39px;
  --btn-line-height: 15px;
  --input-line-height: 17px;
  --products-suptitle-line-height: 22px;
  --products-title-line-height: 38px;
  --about-up-description-line-height: 21px;
  --about-bot-description-line-height: 19px;
  --about-btn-line-height: 16px;
  --about-accent-mobile-line-height: 42px;
  --customer-review-line-height: 31px;
  --customer-data-line-height: 37px;
  --footer-accent-mobile-line-height: 41px;
  --mobile-menu-title-tablet-line-height: 59px;
  --hero-suptitle-tablet-line-height: 23px;
  --hero-title-tablet-line-height: 13px;
  --products-suptitle-tablet-line-height: 27px;
  --products-title-tablet-line-height: 43px;
  --hero-title-desktop-line-height: 48px;
  --products-title-desktop-line-height: 45px;
  --card-description-desktop-line-height: 28px;
  --about-accent-desktop-line-height: 71px;
  --customer-review-desktop-line-height: 30px;
  --contacts-accent-desktop-line-height: 29px;
  --secondary-letter-spacing: 0.04em;
  --copyright-tablet-letter-spacing: 0.02em;
  --footer-accent-desktop-letter-spacing: 0.06em;
}

/*Кнопка с темным текстом и темной стрелкой использовать для (Buy now, Read more, Our Locations)*/
.button-arrow {
  position: relative;
  min-width: 152px;
  height: 42px;
  padding: 12px 52px 12px 34px;
  border: none;
  background: #F8D24E;
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #000000;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-arrow::after {
  content: "";
  position: absolute;
  transform: translate(-34px, 16px);
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  background-image: url(../images/arrow-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.button-arrow:hover {
  background: #0A8817;
}
.button-arrow:focus {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.2;
}

/*Кнопка с белым текстом и белой стрелкой использовать для (Franchise)*/
.button-arrow-border {
  position: relative;
  min-width: 196px;
  height: 42px;
  padding: 12px 64px 12px 46px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
  border: 2px solid #F8D24E;
  background: #AEC6A5;
  border-radius: 10px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-arrow-border::after {
  content: "";
  position: absolute;
  transform: translate(-46px, 16px);
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  background-image: url(../images/arrow-white-new.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.button-arrow-border:hover {
  border: 2px solid #0A8817;
}
.button-arrow-border:focus {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.2;
}

/*Кнопка рамкой использовать для (Products)*/
.button-border {
  min-width: 62px;
  height: 24px;
  padding: 6px 8px;
  background: #AEC6A5;
  border: 2px solid #F8D24E;
  border-radius: 8px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 8px;
  line-height: 1.22;
  text-align: center;
  color: #000000;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-border:hover, .button-border:focus {
  border: 2px solid #0A8817;
  font-size: 9px;
}

@media screen and (min-width: 1199px) {
  .button-border {
    min-width: 134px;
    height: 42px;
    padding: 12px 34px;
    font-size: 14px;
    line-height: 1.29;
    border-radius: 10px;
  }
  .button-border:hover {
    border: 2px solid #0A8817;
    font-size: 14px;
  }
  .button-border:focus {
    font-weight: 700;
    font-size: 15px;
    line-height: 1.2;
  }
}
/*Кнопка текстом использовать для (How it’s made?)*/
.button-text {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 8px;
  line-height: 2;
  text-align: center;
  color: #F8D24E;
  background: inherit;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  border: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-text:hover, .button-text:focus {
  color: #0A8817;
  font-weight: 700;
  font-size: 9px;
  line-height: 1.22;
}

@media screen and (min-width: 1200px) {
  .button-text {
    font-size: 14px;
    line-height: 1.21;
  }
  .button-text:hover {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
  }
  .button-text:focus {
    font-weight: 700;
    font-size: 15px;
    line-height: 1.2;
  }
}
.header {
  background: #84a178;
  padding-top: 12px;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-svg {
  fill: var(--btn-default-color);
  width: 41px;
  height: 37px;
}

.mobile-menu-svg {
  fill: var(--primary-title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-svg:hover, .mobile-menu-svg:focus {
  fill: var(--btn-default-color);
}

.mobile-menu-open {
  background-color: transparent;
  padding: 0;
  line-height: 0;
  border: 0px;
}

@media screen and (max-width: 767px) {
  .header-flex {
    flex-wrap: wrap;
  }
  .header-nav__first {
    display: none;
  }
  .hidden {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu-open {
    margin-right: 32px;
  }
  .header {
    padding-top: 20px;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-nav__first {
    display: none;
  }
  .header-burg-and-btn {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 8px;
  }
  .header-nav__first {
    display: flex;
    align-items: center;
    gap: 27px;
    margin-left: 269px;
  }
  .header-nav__link {
    font-family: var(--primary-font-family);
    font-weight: var(--secondary-font-weight);
    line-height: 1.25;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-nav__link:hover, .header-nav__link:focus, .header-nav__link.current {
    color: var(--btn-default-color);
  }
  .mobile-menu-open {
    display: none;
  }
}
.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 100%;
  background: #85a279;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  left: 0;
  transition: left 1000ms cubic-bezier(0.4, 0, 0.2, 1), visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__container {
  padding-top: 12px;
  padding-bottom: 63px;
}

.logo-and-burger {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu__close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-menu__close-icon {
  fill: var(--primary-title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__close-icon:hover, .mobile-menu__close-icon:focus {
  fill: var(--btn-default-color);
}

.mobile-menu__menu {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 51px;
}

.mobile-menu__menu-link {
  font-family: var(--primary-font-family);
  font-weight: var(--secondary-font-weight);
  font-size: var(--title-mobile-menu-font-size);
  line-height: 1.22;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__menu-link:hover, .mobile-menu__menu-link:focus, .mobile-menu__menu-link.current {
  color: var(--btn-default-color);
}

.mobile-burg-btn {
  text-align: center;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .mobile-menu__container {
    padding-top: 20px;
    padding-bottom: 429px;
  }
  .logo-svg {
    width: 48px;
    height: 44px;
  }
  .mobile-menu__menu {
    margin-top: 76px;
  }
  .mobile-menu__menu-link {
    font-size: var(--mobile-menu-title-tablet-font-size);
    line-height: 1.23;
  }
  .mobile-burg-btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
  .logo-svg {
    width: 60px;
    height: 65px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.products {
  background-image: url(../images/ice-cream-background/svg/ice-cream-background-top-480.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

@media screen and (min-width: 768px) {
  .products {
    background-image: url(../images/ice-cream-background/svg/ice-cream-background-top-768.svg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .products {
    background-image: url(../images/ice-cream-background/svg/ice-cream-background-top-1200.svg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
.pre-title {
  display: block;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-text-color);
  margin-bottom: 12px;
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .pre-title {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .pre-title {
    font-size: 30px;
  }
}

.products-title {
  font-family: Seymour One;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-text-color);
  margin-bottom: 150px;
}
@media screen and (min-width: 768px) {
  .products-title {
    font-size: 34px;
    margin-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .products-title {
    font-size: 36px;
    letter-spacing: 0.06em;
    margin-bottom: 300px;
  }
}

.product-list__subtitle {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--card-description-color);
  margin-top: 123px;
}
@media screen and (min-width: 768px) {
  .product-list__subtitle {
    font-size: 27px;
    margin-top: 108px;
  }
}
@media screen and (min-width: 1200px) {
  .product-list__subtitle {
    font-size: 36px;
    margin-top: 165px;
  }
}

.product-list__subtitle.ice-cream::before {
  content: " ";
  background-repeat: no-repeat;
  position: absolute;
  height: 200px;
  width: 200px;
  top: -102px;
  left: 40px;
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .product-list__subtitle.ice-cream::before {
    height: 200px;
    width: 200px;
    top: -101px;
    left: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .product-list__subtitle.ice-cream::before {
    height: 300px;
    width: 300px;
    top: -167px;
    left: 35px;
  }
}

.product-list__subtitle.ice-cream::after {
  content: " ";
  background-repeat: no-repeat;
  position: absolute;
  height: 200px;
  width: 200px;
  top: -113px;
  left: 40px;
  background-image: url(../images/products/ice-cream-480@1x.webp);
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .product-list__subtitle.ice-cream::after {
    height: 200px;
    width: 200px;
    top: -112px;
    left: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .product-list__subtitle.ice-cream::after {
    height: 300px;
    width: 300px;
    top: -184px;
    left: 35px;
  }
}

@media screen and (min-width: 768px) {
  .product-list__subtitle.ice-cream::after {
    background-image: url(../images/products/ice-cream-768@1x.webp);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .product-list__subtitle.ice-cream::after {
    background-image: url(../images/products/ice-cream-768@2x.webp);
    background-size: 200px 200px;
  }
}
@media screen and (min-width: 1200px) {
  .product-list__subtitle.ice-cream::after {
    background-image: url(../images/products/ice-cream-1200@1x.webp);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .product-list__subtitle.ice-cream::after {
    background-image: url(../images/products/ice-cream-1200@2x.webp);
    background-size: 300px 300px;
  }
}
.product-list__subtitle.ice-coffee::before {
  content: " ";
  background-repeat: no-repeat;
  position: absolute;
  height: 200px;
  width: 200px;
  top: -102px;
  left: 40px;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .product-list__subtitle.ice-coffee::before {
    height: 200px;
    width: 200px;
    top: -101px;
    left: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .product-list__subtitle.ice-coffee::before {
    height: 300px;
    width: 300px;
    top: -167px;
    left: 35px;
  }
}

.product-list__subtitle.ice-coffee::after {
  content: " ";
  background-repeat: no-repeat;
  position: absolute;
  height: 200px;
  width: 200px;
  top: -113px;
  left: 40px;
  background-image: url(../images/products/ice-coffee-480@1x.webp);
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .product-list__subtitle.ice-coffee::after {
    height: 200px;
    width: 200px;
    top: -112px;
    left: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .product-list__subtitle.ice-coffee::after {
    height: 300px;
    width: 300px;
    top: -184px;
    left: 35px;
  }
}

@media screen and (min-width: 768px) {
  .product-list__subtitle.ice-coffee::after {
    background-image: url(../images/products/ice-coffee-768@1x.webp);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .product-list__subtitle.ice-coffee::after {
    background-image: url(../images/products/ice-coffee-768@2x.webp);
    background-size: 200px 200px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .product-list__subtitle.ice-coffee::after {
    background-image: url(../images/products/ice-coffee-1200@1x.webp);
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 2dppx) {
  .product-list__subtitle.ice-coffee::after {
    background-image: url(../images/products/ice-coffee-1200@2x.webp);
    background-size: 300px 300px;
  }
}
.product-list__subtitle.milkshakes::before {
  content: " ";
  background-repeat: no-repeat;
  position: absolute;
  height: 200px;
  width: 200px;
  top: -102px;
  left: 40px;
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .product-list__subtitle.milkshakes::before {
    height: 200px;
    width: 200px;
    top: -101px;
    left: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .product-list__subtitle.milkshakes::before {
    height: 300px;
    width: 300px;
    top: -167px;
    left: 35px;
  }
}

.product-list__subtitle.milkshakes::after {
  content: " ";
  background-repeat: no-repeat;
  position: absolute;
  height: 200px;
  width: 200px;
  top: -113px;
  left: 40px;
  background-image: url(../images/products/milkshakes-480@1x.webp);
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .product-list__subtitle.milkshakes::after {
    height: 200px;
    width: 200px;
    top: -112px;
    left: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .product-list__subtitle.milkshakes::after {
    height: 300px;
    width: 300px;
    top: -184px;
    left: 35px;
  }
}

@media screen and (min-width: 768px) {
  .product-list__subtitle.milkshakes::after {
    background-image: url(../images/products/milkshakes-768@1x.webp);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .product-list__subtitle.milkshakes::after {
    background-image: url(../images/products/milkshakes-768@2x.webp);
    background-size: 200px 200px;
  }
}
@media screen and (min-width: 1200px) {
  .product-list__subtitle.milkshakes::after {
    background-image: url(../images/products/milkshakes-1200@1x.webp);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .product-list__subtitle.milkshakes::after {
    background-image: url(../images/products/milkshakes-1200@2x.webp);
    background-size: 300px 300px;
  }
}
.product-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--card-description-color);
  padding-left: 40px;
  padding-right: 40px;
  min-width: 200px;
  margin-top: 35px;
}
@media screen and (min-width: 1200px) {
  .product-description {
    font-size: 16px;
  }
}

.product-list__item.ice-cream {
  border-radius: 24px;
  display: flex;
  flex-direction: column;
}

.ice-cream {
  background: var(--card-icecream-background-color);
}

.product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .product-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .product-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}

.product-list__item {
  height: 520px;
  position: relative;
  margin-bottom: 164px;
  max-width: 280px;
}
@media screen and (min-width: 768px) {
  .product-list__item {
    width: calc((100% - 32px) / 3);
    max-width: 224px;
    height: 535px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .product-list__item {
    width: calc((100% - 64px) / 3);
    max-width: 368px;
    height: 535px;
    margin-left: auto;
    margin-right: auto;
  }
}

.product-list__item.ice-coffee {
  background: var(--card-icecoffee-background-color);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
}

.ice-coffee {
  background: var(--card-icecoffee-background-color);
}

.product-list__item.milkshakes {
  background: var(--contacts-accent-text-color);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
}

.milkshakes {
  background: var(--contacts-accent-text-color);
}

.product-icon {
  width: 40px;
  height: 15px;
}

.product-icon:hover {
  width: 60px;
  height: 15px;
  fill: #fff;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.product-btn {
  border-color: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: auto;
}

.is-hidden__product {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.prod-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 150px;
  border-radius: 24px;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  background-color: palegoldenrod;
}

.close-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  fill: currentColor;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.close-prod-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-color: transparent;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover, .close-icon:focus {
  fill: #fff;
}

.product-text {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--card-description-color);
  padding-left: 40px;
  padding-right: 40px;
}

.about {
  background-color: var(--main-background-color);
  padding-top: 60px;
  padding-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding-bottom: 40px;
  }
}

.about__subtitel {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  font-weight: var(--secondary-font-weight);
  font-size: var(--products-suptitle-mobile-font-size);
  line-height: var(--products-suptitle-line-height);
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .about__subtitel {
    font-weight: var(--products-suptitle-font-weight);
    font-size: var(--products-suptitle-tablet-font-size);
    line-height: var(--products-suptitle-tablet-line-height);
    text-align: center;
    letter-spacing: var(--footer-accent-desktop-letter-spacing);
  }
}
@media screen and (min-width: 1200px) {
  .about__subtitel {
    font-size: var(--products-title-mobile-font-size);
  }
}

.about__titel {
  font-family: var(--secondary-font-family);
  color: var(--primary-text-color);
  font-weight: var(--primary-font-weight);
  font-size: var(--products-title-mobile-font-size);
  line-height: var(--products-title-line-height);
  text-align: center;
  letter-spacing: var(--secondary-letter-spacing);
  text-transform: uppercase;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .about__titel {
    font-size: var(--footer-accent-mobile-font-size);
    letter-spacing: var(--footer-accent-desktop-letter-spacing);
    margin-top: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .about__titel {
    font-size: var(--about-accent-mobile-font-size);
    line-height: var(--products-title-desktop-line-height);
  }
}

.about__content-wrapper {
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .about__content-wrapper {
    display: flex;
    margin-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .about__content-wrapper {
    margin-top: 82px;
    align-items: center;
  }
}

.about__img-background {
  display: block;
  background-color: var(--btn-default-color);
  width: 278px;
  height: 278px;
  border-radius: 140px;
  margin: 0 auto;
  box-shadow: 0px 5.30813px 19.9055px rgba(153, 114, 23, 0.25);
}
@media screen and (min-width: 768px) {
  .about__img-background {
    width: 330px;
    height: 330px;
    border-radius: 166px;
  }
}
@media screen and (min-width: 1200px) {
  .about__img-background {
    width: 500px;
    height: 500px;
    border-radius: 250px;
    margin: 0;
  }
}

.about__img {
  position: unset;
  display: block;
  position: absolute;
  margin-top: 21px;
}
@media screen and (min-width: 768px) {
  .about__img {
    margin-top: 25.88px;
  }
}
@media screen and (min-width: 1200px) {
  .about__img {
    margin-top: 39px;
  }
}

.about__text-wrapper {
  width: 220px;
  margin: 0 auto;
  margin-top: 62px;
}
@media screen and (min-width: 768px) {
  .about__text-wrapper {
    width: 334px;
  }
}
@media screen and (min-width: 1200px) {
  .about__text-wrapper {
    width: 463px;
    margin-left: 100px;
  }
}

.about__text {
  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
  font-size: var(--input-font-size);
  line-height: var(--about-up-description-line-height);
  /* or 21px  or 176%*/
  text-align: center;
  letter-spacing: var(--secondary-letter-spacing);
  color: var(--primary-text-color);
}
@media screen and (min-width: 768px) {
  .about__text {
    text-align: left;
    line-height: var(--secondary-line-height);
  }
}
@media screen and (min-width: 1200px) {
  .about__text {
    font-size: var(--primary-font-size);
    line-height: var(--products-suptitle-tablet-line-height);
  }
}

@media screen and (max-width: 768px) {
  .about__text-item {
    display: none;
  }
}

.about__button {
  margin: 20px auto;
  display: flex;
}
@media screen and (min-width: 768px) {
  .about__button {
    margin-top: 40px;
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about__button {
    margin-top: 48px;
    margin-left: 0;
  }
}

.button-arrow {
  position: relative;
  min-width: 152px;
  height: 42px;
  padding: 12px 52px 12px 34px;
  border: none;
  background: #F8D24E;
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #000000;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-arrow::after {
  content: "";
  position: absolute;
  transform: translate(-34px, 16px);
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  background-image: url(../images/arrow-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.button-arrow:hover {
  background: #0A8817;
}
.button-arrow:focus {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.2;
}

.advantages {
  background-color: var(--main-background-color);
  padding-top: 20px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .advantages {
    padding-bottom: 204px;
    padding-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-bottom: 180px;
    padding-top: 40px;
  }
}

.advantages__list {
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
  }
}

.advantages__list-item {
  width: 230px;
  text-align: center;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .advantages__list-item {
    width: 152px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list-item {
    width: 348px;
  }
}

.advantages__icon {
  margin: auto;
  background-color: var(--btn-default-color);
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.advantages__value {
  font-family: "Roboto";
  color: var(--primary-text-color);
  font-weight: var(--secondary-font-weight);
  font-size: var(--about-accent-mobile-font-size);
  line-height: var(--about-accent-mobile-line-height);
  letter-spacing: var(--secondary-letter-spacing);
  text-transform: uppercase;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .advantages__value {
    font-size: var(--mobile-menu-title-tablet-font-size);
    line-height: var(--mobile-menu-title-tablet-line-height);
  }
}

.advantages__text {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  font-weight: var(--secondary-font-weight);
  font-size: var(--input-font-size);
  line-height: var(--primary-line-height);
  margin-top: 16px;
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .advantages__text {
    font-size: var(--primary-font-size);
    line-height: var(--secondary-line-height);
    font-weight: var(--primary-font-weight);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__text {
    font-size: var(--secondary-font-size);
    line-height: var(--card-description-desktop-line-height);
    font-weight: var(--primary-font-weight);
  }
}/*# sourceMappingURL=index.css.map */