<section class="about" id="about">
  <div class="container">
    <p class="about__subtitel">tradition and love</p>
    <h2 class="about__titel">how it’s made?</h2>
    <div class="about__content-wrapper">
      <div class="about__img-background">
        <picture class="about__img">

          <source srcset="./images/about/milk-cow-1200@2x.webp 2x,
                                ./images/about/milk-cow-1200@3x.webp 3x" media="(min-width: 1200px)">
          <source srcset="./images/about/milk-cow-768@1x.webp 1x,
                                ./images/about/milk-cow-768@2x.webp 2x,
                                ./images/about/milk-cow-768@3x.webp 3x" media="(min-width: 768px)">
          <source srcset="./images/about/milk-cow-480@2x.webp 2x" media="(min-width: 480px)">
          <img src="./images/about/milk-cow-480@2x.webp" alt="cow" />

        </picture>
      </div>

      <div class="about__text-wrapper">
        <ul class="about__text list">
          <li>
            Ice is a place where you will become not only a little happier, but also healthier. Health is the main
            value for us, and
            we follow it when creating our handmade desserts.
          </li>
          <li>
            We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be
            given to children
            from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23
            milkshakes.
          </li>
          <li class="about__text-item">
            This is enough to choose ice cream and
            coffee for any mood!
          </li>
        </ul>
        <button class="about__button button-arrow" data-modal-read-open>Read more</button>
      </div>
    </div>
  </div>
</section>