<section class="about">
    <div class="container">
        <p class="about__subtitel">tradition and love</p>
        <h2 class="about__titel">how it’s made?</h2>
            <div class="about__img-background"></div>
                <picture>
                    <source media="(min-width:min-width: 480px )" type="image/webp"
                        srcset="../images/about/milk-cow-768@1x.webp 1x,
                                ../images/about/milk-cow-768@2x.webp 2x,
                                ../images/about/milk-cow-768@2x.webp 3x,
                                " >
                    <source media="(min-width:min-width: 768px)"  type="image/webp"
                        srcset="../images/about/milk-cow-1200@1x.webp 1x,
                                ../images/about/milk-cow-1200@2x.webp 2x,
                                ../images/about/milk-cow-1200@3x.webp 3x,
                                ">
                    <img src="../images/about/milk-cow-480@1x.webp" alt="cow" width="278px"
                        srcset="../images/about/milk-cow-480@1x.webp 1x,
                                ../images/about/milk-cow-480@2x.webp 2x,
                                ../images/about/milk-cow-480@3x.webp 3x,
                                ">
                </picture>
        <ul>
            <li>
                Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and
                we follow it when creating our handmade desserts.
            </li>
            <li>
                We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children
                from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes.
            </li>
            <li>
                This is enough to choose ice cream and
                coffee for any mood!
            </li>
        </ul>
        <button class="about__button">Read more &#62</button>

    </div>

    </div>
     </section>