<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">our advantages</h2>

    <ul class="advantages__list list">

      <li class="advantages__list-item">
        <div class="advantages__icon">
          <svg class="cow" width="50" height="50">
            <use href="./images/sprite.svg#cow"></use>
          </svg>
        </div>
        <p class="advantages__value">721</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

      </li>

      <li class="advantages__list-item">
        <div class="advantages__icon">
          <svg class="kettlebell" width="50" height="50">
            <use href="./images/sprite.svg#kettlebell"></use>
          </svg>
        </div>
        <p class="advantages__value">16kg</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

      </li>

      <li class="advantages__list-item">
        <div class="advantages__icon">
          <svg class="ice-cream-icon" width="50" height="50">
            <use href="./images/sprite.svg#ice-cream"></use>
          </svg>
        </div>
        <p class="advantages__value">84</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

      </li>
    </ul>
  </div>
</section>