<section class="contacts contacts-section" id="contact">
  <div class="contacts__container container">
    <h2 class="contacts__title visually-hidden">Our contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts-card">
        <p class="contacts-card__suptitle">cafe</p>

        <h3 class="contacts-card__title">Chicago</h3>
        <p class="contacts-card__address">
          10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
        </p>

        <ul class="contacts-card__shedule-list list">
          <li class="shedule-list__item">
            <p class="shedule-list__date">Monday - Friday</p>
            <p class="shedule-list__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="shedule-list__item">
            <p class="shedule-list__date">Saturday - Sunday</p>
            <p class="shedule-list__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts-card__contacts-list list">
          <li class="contacts-list__item">
            <a class="contacts-list__link link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-list__item">
            <a class="contacts-list__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>

      <li class="contacts-card">
        <p class="contacts-card__suptitle">FOODTRUCK</p>

        <h3 class="contacts-card__title">Los Angeles</h3>
        <p class="contacts-card__address">
          1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
        </p>

        <ul class="contacts-card__shedule-list list">
          <li class="shedule-list__item">
            <p class="shedule-list__date">Monday - Friday</p>
            <p class="shedule-list__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="shedule-list__item">
            <p class="shedule-list__date">Saturday - Sunday</p>
            <p class="shedule-list__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts-card__contacts-list list">
          <li class="contacts-list__item">
            <a class="contacts-list__link link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-list__item">
            <a class="contacts-list__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>

      <li class="contacts-card">
        <p class="contacts-card__suptitle">cafe</p>

        <h3 class="contacts-card__title">New York</h3>
        <p class="contacts-card__address">
          726 Sterling Pl, Brooklyn, NY 11222, USA
        </p>

        <ul class="contacts-card__shedule-list list">
          <li class="shedule-list__item">
            <p class="shedule-list__date">Monday - Friday</p>
            <p class="shedule-list__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="shedule-list__item">
            <p class="shedule-list__date">Saturday - Sunday</p>
            <p class="shedule-list__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts-card__contacts-list list">
          <li class="contacts-list__item">
            <a class="contacts-list__link link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-list__item">
            <a class="contacts-list__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts-btn-list list">
      <li class="contacts-btn-list__item">
        <button class="button-arrow contacts__btn" type="button">
          Our Locations
        </button>
      </li>
      <li class="contacts-btn-list__item">
        <button class="contacts__btn button-arrow-border" type="submit" data-modal-open-franchise>
          Franchise
        </button>
      </li>
    </ul>
  </div>
</section>