<section class="section-review">
<div class="container">
    <h1 class="visually-hidden">Customer Reviews</h1>
    <!-- content in this section -->
    <picture class="photo-review">
        <source media="(min-width: 1200px)" srcset="./images/customer-reviews/emily-review-1200@1x.webp,./images/customer-reviews/emily-review-1200@2x.webp, ./images/customer-reviews/emily-review-1200@3x.webp" type="image/jpg" />
        <source media="(min-width: 768px)" srcset="./images/customer-reviews/emily-review-768@1x.webp, ./images/customer-reviews/emily-review-768@2x.webp,./images/customer-reviews/emily-review-768@3x.webp" type="image/jpg" />
        <source media="(max-width: 767px)" srcset="./images/customer-reviews/emily-review-480@1x.webp, ./images/customer-reviews/emily-review-480@2x.webp, ./images/customer-reviews/emily-review-480@3x.webp" type="image/jpg" />
        <img src="./images/customer-reviews/emily-review-1200@1x.webp" alt="Дівчина" class="client__photo">
    </picture>
    <article class="text-review">
    <p class="text-review-item"> I love visiting your cafe.</p>
    <p class="text-review-item">You prepare the most delicious ice cream in Los Angeles! </p>
    <p class="text-review-item"> In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
    </article>
    <p class="client">Emily, Los Angeles</p>
    <!-- pagination elements -->
    <ul class="pagination list">
        <li class="pagination-item"><a href="#" class="pagination-link active"></a></li>
        <li class="pagination-item"><a href="#" class="pagination-link"></a></li>
        <li class="pagination-item"><a href="#" class="pagination-link"></a></li>
    </ul>
</div>   
</section>
