<section>
<div class="container">
    <h1 class="visually-hidden">Customer Reviews</h1>
    <!-- content in this section -->
    <picture>
        <source media="(min-width: 1200px)" srcset="./images/customer-reviews/emily-review-1200@1x.webp,./images/customer-reviews/emily-review-1200@2x.webp, ./images/customer-reviews/emily-review-1200@3x.webp" type="image/jpg" />
        <source media="(min-width: 768px)" srcset="./images/customer-reviews/emily-review-768@1x.webp, ./images/customer-reviews/emily-review-768@2x.webp,./images/customer-reviews/emily-review-768@3x.webp" type="image/jpg" />
        <source media="(max-width: 767px)" srcset="./images/customer-reviews/emily-review-480@1x.webp, ./images/customer-reviews/emily-review-480@2x.webp, ./images/customer-reviews/emily-review-480@3x.webp" type="image/jpg" />
        <img src="./images/customer-reviews/emily-review-1200@1x.webp" alt="Дівчина" class="client__photo">
    </picture>
    <article>
I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! 
In addition, you have beautiful serving, cozy atmosphere and polite staff.
    </article>
    <p>Emily, Los Angeles</p>
    <!-- pagination elements -->
    <ul class="pagination justify-content-center">
        <li class="page-item active"><a href="#" class="page-link">1</a></li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item"><a href="#" class="page-link">3</a></li>

    </ul>
</div>   
</section>
