<footer class="page-footer">
    <div class="footer-content container">
        <h2 class="title-upperline footer">homemade ice cream made
            <span class="section-title footer"> with passion</span>
        </h2>
        <div class="footer-social">
            <ul class="social-networks">
                <li class="social-icon">
                    <a href="https://github.com/" class="link-footer" aria-label="github link">
                        <svg width="20" height="20">
                            <use href="/src/images/sprite.svg#github"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-icon">
                    <a href="https://web.telegram.org/" class="link-footer" aria-label="telegram link">
                        <svg width="20" height="20">
                            <use href="/src/images/sprite.svg#telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-icon">
                    <a href="https://www.facebook.com/" class="link-footer" aria-label="facebook link">
                        <svg width="20" height="20">
                            <use href="/src/images/sprite.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>

            <div class="footer-contacts">
                <span class="footer-item">Feel free to contact</span>
                <a class="footer-link" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
            </div>
        </div>
    </div>
    <div class="copy">
        <p class="copy-title">&#169; 2022 - IceCream.
            All Rights Reserved.</p>
    </div>
</footer>