
<!-- Footer -->
<footer class="footer">
    <div class="container">
         <div class="text-title">
    
        <p class="subtitle">homemade ice cream made </p>
        <p class="suptitle">with passion</p>
    
        </div>
    
    
    <div class="socials">
        <ul class="social-list"> 
            <li class="social-item">
                <a class="social-link" href="https://www.github.com/"></a>
                <svg class="social-network-icon" width="34" height="34">
    
                    <use href="../images/sprite.svg#github">
                        
                    </use>
                     
                    
    
                </svg>
            </li>
    
    
            
            <li class="social-item">
                <a class="social-link" href="https://www.telegram.com/"></a>
                <svg class="social-network-icon" width="34" height="34">

                    <use href="../images/sprite.svg#telegram">

                    </use>

                </svg>
            </li>
    
    
            <li class="social-item">
                <a class="social-link" href="https://www.facebook.com/"></a>
                <svg class="social-network-icon" width="34" height="34">
                    <use href="../images/sprite.svg#facebook">

                    </use>

                </svg>
            </li>
    
    
    
        </ul>
        <a href="tel::+610383766284" class="socials-telephone"
        >
        <span class="contact-phone">Feel free to contact +61 (0) 383 766 284</span>
       </div>
    </div>
    
    
    <div class="copyright">
        <span class="copyright-text">© 2022 - IceCream. All Rights Reserved. </span>
    </div>
    
    
    </footer>
