<section class="section-gallery">
    <div class="container gallery-container">
            <h2 class="visually-hidden">Gallery</h2>
            <ul class="gallery-list">
                <li class="gallery__item">
                        <img src="./images/gallery/pic1-1200px1x.jpg" alt="Ice cream" class="gallery__picture">
                </li>
                <li class="gallery__item">
                    
                        <img src="./images/gallery/pic2-1200px1x.jpg" alt="Ice cream" class="gallery__picture">
  
                </li>
                <li class="gallery__item">
                    
                        <img src="./images/gallery/pic3-1200px1x.jpg" alt="Ice cream" class="gallery__picture">
   
                </li>
                <li class="gallery__item">
                        
                        <img src="./images/gallery/pic4-1200px1x.jpg"
                            alt="Ice cream with berries in waffle cups" class="gallery__picture">

                </li>
                <li class="gallery__item">
                 
                        <img src="./images/gallery/pic5-1200px1x.jpg" alt="Ice cream" class="gallery__picture">
   
                </li>
                <li class="gallery__item">
                   
                        <img src="./images/gallery/pic6-1200px1x.jpg" alt="Ice cream" class="gallery__picture">
  
                </li>
                <li class="gallery__item">
                    
                        <img src="./images/gallery/pic7-1200px1x.jpg" alt="Ice cream" class="gallery__picture">

                </li>
                <li class="gallery__item">
                   
                        <img src="./images/gallery/pic8-1200px1x.jpg" alt="Ice cream" class="gallery__picture">
                   
                </li>
                <li class="gallery__item">
                    
                        <img src="./images/gallery/pic9-1200px1x.jpg" alt="Ice cream" class="gallery__picture">
          
                </li>
                <li class="gallery__item">
                    
                        <img src="./images/gallery/pic10-1200px1x.jpg" alt="Ice cream" class="gallery__picture">
                 
                </li>
            </ul>
    </div>
</section>