<section class="section-gallery">
    <div class="container">
        <picture>
            <source type="image/webp" media="(min-width:1200px)" srcset="./images/gallery/ice-cream-set-1200@1x.webp 1x, ./images/gallery/ice-cream-set-1200@2x.webp 2x, ./images/gallery/ice-cream-set-1200@3x.webp 3x">
          
            <source type="image/webp" media="(min-width:768px)" srcset="./images/gallery/ice-cream-set-768@1x.webp 1x, ./images/gallery/ice-cream-set-768@2x.webp 2x, ./images/gallery/ice-cream-set-768@3x.webp 3x">
                 
            <source type="image/webp" media="(max-width:767px)" srcset="./images/gallery/ice-cream-set-480@2x.webp 2x, ./images/gallery/ice-cream-set-480@3x.webp 3x">
            
            <img class="container__gallery" src="./images/gallery/ice-cream-set-480@1x.webp" alt="Ice cream with berries in waffle cups">
        </picture>
        
    </div>
</section>
