<header id="header" class="header">
  <div class="container header-flex">
    <nav class="header-nav">
      <a class="logo link" href="./index.html" lang="en">
        <svg class="logo-svg">
          <use href="../src/images/sprite.svg#logo"></use>
        </svg>
      </a>
      <ul class="list header-nav__first">
        <li class="header-nav__item">
          <a class="header-nav__link link" href="#header">Home</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link link" href="#about">How it’s made?</a>
        </li>

        <li class="header-nav__item">
          <a class="header-nav__link link" href="#products">Our products</a>
        </li>

        <li class="header-nav__item">
          <a class="header-nav__link link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="header-burg-and-btn">
      <button type="button" class="mobile-menu-open" data-menu-open>
        <svg class="mobile-menu-svg" width="32" height="32">
          <use href="../src/images/sprite.svg#icon-Burger"></use>
        </svg>
      </button>
      <button class="button-arrow hidden" type="button" data-modal-open-buy_now>
        Buy now
      </button>
    </div>
  </div>
  <div class="mobile-menu" data-menu>
    <div class="container mobile-menu__container">
      <div class="logo-and-burger">
        <a class="logo link" href="./index.html" lang="en">
          <svg class="logo-svg">
            <use href="../src/images/sprite.svg#logo"></use>
          </svg>
        </a>
        <button type="button" class="mobile-menu__close-btn" data-menu-close>
          <svg class="mobile-menu__close-icon" width="32" height="32">
            <use href="../src/images/sprite.svg#close-button"></use>
          </svg>
        </button>
      </div>

      <ul class="list mobile-menu__menu">
        <li class="mobile-menu__menu-item">
          <a class="mobile-menu__menu-link link" href="#header">Home </a>
        </li>
        <li class="mobile-menu__menu-item">
          <a class="mobile-menu__menu-link link" href="#about">How it’s made?</a>
        </li>
        <li class="mobile-menu__menu-item">
          <a class="mobile-menu__menu-link link" href="#products">Our products</a>
        </li>
        <li class="mobile-menu__menu-item">
          <a class="mobile-menu__menu-link link" href="#contact">Contact</a>
        </li>
      </ul>

      <div class="mobile-burg-btn">
        <button class="button-arrow" type="button" data-modal-open-buy_now>
          Buy now
        </button>
      </div>
    </div>
  </div>
</header>