<section class="hero">
  <div class="hero__wrapper container">
    <h1 class="hero__title">ice cream<br>made with<br><span class="hero__title-bold">passion</span>
    </h1>
    <div class="hero__btn-set">
      <form action="#products">
        <button class="button-border hero__btn" type="submit">Products</button>
      </form>
      <a class="button-text hero__link" href="#about">How it's made?</a>
    </div>
    <div class="hero__description-set">
      <p class="hero__tagline">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
        do eiusmod tempor
        incididunt ut labore et</p>
      <button class="hero-btn " type="button" data-prod-open4 data-prod-close4>
        <svg class="hero-icon">
          <use href="./images/sprite.svg#arrow"></use>
        </svg> </button>

      <div class="hero-menu is-hidden__product" data-prod4>
        <span class="hero-text"> Get all your favorite Ice Cream flavors delivered right to your door within <br><span
            class="hero-text__bold">10 minutes!</span>
        </span>
      </div>


      <ul class="list hero__department container">
        <li class="hero__department-namber">16</li>
        <li class="hero__department-name hero__cafes">cafes</li>
        <li class="hero__department-namber">23</li>
        <li class="hero__department-name">food trucks</li>
      </ul>
      <picture class="hero__ice-cream-plate">
        <source srcset="./images/hero/ice-cream-plate-768@1x.webp 1x, ./images/hero/ice-cream-plate-768@2x.webp 2x,
                                  ./images/hero/ice-cream-plate-768@3x.webp 3x" media="(max-width: 1199px)"
          type="image/webp" />
        <source srcset="./images/hero/ice-cream-plate-1200@1x.webp 1x, ./images/hero/ice-cream-plate-1200@2x.webp 2x,
                                        ./images/hero/ice-cream-plate-1200@3x.webp 3x" media="(min-width: 1200px)"
          type="image/webp" />
        <img src="./images/hero/ice-cream-plate-1200@1x.webp" alt="ice cream plate" srcset="./images/hero/ice-cream-plate-1200@1x.webp 1x,
             ./images/hero/ice-cream-plate-1200@2x.webp 2x,
             ./images/hero/ice-cream-plate-1200@3x.webp 3x" />
      </picture>
    </div>
    <picture>
      <source srcset="./images/hero/main-ice-cream-480@1x.png 1x, ./images/hero/main-ice-cream-480@2x.png 2x,
                                    ./images/hero/main-ice-cream-480@3x.png  3x" media="(max-width: 767px)"
        type="image/webp" />
      <source srcset="./images/hero/main-ice-cream-768@1x.png 1x, ./images/hero/main-ice-cream-768@2x.png 2x,
                                          ./images/hero/main-ice-cream-768@3x.png 3x" media="(max-width: 1199px)"
        type="image/webp" />
      <source srcset="./images/hero/main-ice-cream-1200@1x.png 1x, ./images/hero/main-ice-cream-1200@2x.png 2x,
                                                ./images/hero/main-ice-cream-1200@3x.png 3x"
        media="(min-width: 1200px)" type="image/webp" />
      <img class="hero__main-ice-cream" src="./images/hero/main-ice-cream-1200@1x.png" alt="main ice cream " srcset="./images/hero/main-ice-cream-1200@1x.png 1x,
                     ./images/hero/main-ice-cream-1200@2x.png 2x,
                     ./images/hero/main-ice-cream-1200@3x.png 3x" />
    </picture>
    <div id="topNubex"><img src="./images/hero/main-ice-cream-480@1x.png" alt="scrollup" /></div>
  </div>
</section>