<section class="hero container bgd-img">
  
    <h1 class= "hero__title" >ice cream<br>made with<p class="hero__title-bold">passion</p></h1>
    <div class="hero-btn-set">
    <button class="hero-btn-set__btn" type="button">Products</button>
    <a class="hero-btn-set__link" scr="#">How it's made?</a>
    </div>
    <p class="tagline tagline-img">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    <a scr="https://www.google.com/"><svg class="arrow">
        <use href="./images/sprite.svg#arrow" width="40" class=""></use></svg
      ></a>
    <ul class="list department">
        <li class="department-namber">16</li>
        <li class="department-name">cafes</li>
        <li class="department-namber">23</li>
        <li class="department-name">food trucks</li>
    </ul>
    <img class="hero-img img-set">
  
    </section>

