<div class="backdrop is-hidden" data-modal-window>
  <div class="modal_buy-now">
    <button type="button" class="button-close-modal" data-modal-window-close>
      <svg width="20" height="20">
        <use href="./images/sprite.svg#close-button"></use>
      </svg>
    </button>
    <p class="label-form">Buy now</p>
    <ul class="list prodacts-modal-list">
      <li class="products-modal-item ise-cream-modal">
        <p class="product-name">ice cream</p>
      </li>
      <li class="products-modal-item ise-coffee-modal">
        <p class="product-name">ice coffee</p>
      </li>
      <li class="products-modal-item milkhake-modal">
        <p class="product-name">milkshake</p>
      </li>
    </ul>

    <form class="form">
      <div class="wrapper-form-field">
        <input
          class="form-field"
          type="text"
          minlength="2"
          name="name"
          placeholder="Name"
          required
        />
        <input
          class="form-field"
          type="tel"
          name="tel"
          placeholder="Phone"
          required
        />
        <textarea
          class="form-field form-field__user-massege"
          name="user-message"
          placeholder="Comment"
        ></textarea>
      </div>
      <button type="submit" class="button-submit">Submit</button>
    </form>
  </div>
</div>
