<div class="backdrop is-hidden" data-modal-franchise>
    <div class="modal-input-fields modal_franchise">
        <button type="button" class="button-close-modal" data-moda-close-franchise><svg width="20" height="20"><use href="./images/sprite.svg#close-button"></use></svg></button>
        
        <p class="form-title form-title_franchise">Thank you for your interest in owning an Ice Cream shop</p>
        <p class="form-description">Due to the overwhelming volume of franchise requests we are not accepting new
            franchisee applications at this time. Once
            the application process resumes, we will contact you for further information. Please fill out the contact
            information
            below and we will reach out for additional information. We appreciate your patience.</p>

        <form class="form-wrapper">
                <div class="form-wrapper__field">
                
                    <div class="wrapper-label-input">
                        <input class="form-field" type="text" minlength="2" name="name" placeholder=" " required >
                        <label class="title-field">Name</label>
                    </div>

                    <div class="wrapper-label-input">
                        <input class="form-field" type="tel" name="tel" placeholder=" " required>
                        <label class="title-field">Phone</label>
                    </div>

                    <div class="wrapper-label-input">
                        <input class="form-field" type="email" name="email" placeholder=" " required>
                        <label class="title-field">Email</label>
                    </div>

                    <div class="wrapper-label-input">
                        <textarea class="form-field form-field__user-massege" name="user-message" placeholder=" "></textarea>
                        <label class="title-field">Comment</label>
                    </div>
                </div>
                <button type="submit" class="button-submit">Submit</button>
        </form>
    
        </div>
</div>

