<section id="products">
    <div class="products">
        <div class="container">
            <span class="pre-title">100% natural</span>
            <h2>products</h2>
            <ul>
                <li>
                    <h3>ice cream </h3>
                    <p>Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
                    <button type="button" > <svg width="40" height="15"> <use href="./images/sprite.svg#arrow"></use> </svg> </button>
            
                </li>
                <li>
                    <h3>ice coffe</h3>
                    <p> Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and
                        flavor enhancers</p>
                        <button type="button" > <svg width="40" height="15" > <use href="./images/sprite.svg#arrow"></use> </svg> </button>
                    
            
                </li>
                <li>
                    <h3>milkshakes</h3>
                    <p> Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your
                        choice</p>
                        <button type="button" > <svg width="40" height="15"> <use href="./images/sprite.svg#arrow"></use> </svg> </button>
            
                </li>
            </ul>
        </div>
    </div>