<section id="products">
    <div class="products">
        <div class="container">
            <span class="pre-title">100% natural</span>
            <h2 class="products-title">products</h2>
            <ul class="product-list">
                <li class="product-list__item ice-cream">
                    <h3 class="product-list__subtitle ice-cream">ice cream </h3>
                    <p class="product-description">Soft ice cream with a delicate taste. Made with milk, cream,
                        sugar
                        and natural stabilizer</p>
                    <button class="product-btn ice-cream " type="button" data-prod-open1> <svg class="product-icon">
                            <use href="./images/sprite.svg#arrow"></use>
                        </svg> </button>

                    <div class="prod-menu ice-cream-bcg is-hidden__product" data-prod1>
                        <div class="ingredients-container">
                            <ul class=" list ingredients-list">
                                <li class="ingredients-list__item"> <span class="ingredients-nutrion">kcal </span>
                                    <span class="ingredients__value">320</span>
                                </li>
                                <li class="ingredients-list__item"> <span class="ingredients-nutrion">prot </span>
                                    <span class="ingredients__value">4g</span>
                                </li>
                                <li class="ingredients-list__item"> <span class="ingredients-nutrion">fats </span>
                                    <span class="ingredients__value">8,2 g</span>
                                </li>
                                <li class="ingredients-list__item"> <span class="ingredients-nutrion">carb </span>
                                    <span class="ingredients__value">40,4g</span>
                                </li>
                            </ul>

                        </div>
                        <div class="reciept">

                            <ul class="second list">

                                <li class="product-text">2 cups heavy cream</li>
                                <li class="product-text">1 cup whole milk</li>
                                <li class="product-text">⅔ cup sugar</li>
                                <li class="product-text">⅛ teaspoon fine sea salt</li>
                                <li class="product-text">6 large egg yolks</li>
                                <li class="product-text">Your choice of flavoring</li>
                            </ul>
                        </div>
                        <button type="button" class="close-prod-btn" data-prod-close1>
                            <svg class="close-icon">
                                <use href="./images/sprite.svg#close-button"></use>
                            </svg>
                        </button>

                    </div>
                </li>
                <li class="product-list__item ice-coffee">
                    <h3 class="product-list__subtitle ice-coffee"> ice coffee</h3>
                    <p class="product-description"> Fragrant invigorating drink created from 100% natural
                        ingredients
                        without the use of preservatives and
                        flavor enhancers</p>
                    <button class="product-btn ice-coffee" type="button" data-prod-open2> <svg class="product-icon">
                            <use href="./images/sprite.svg#arrow"></use>
                        </svg> </button>

                    <div class="prod-menu ice-coffee-bcg is-hidden__product" data-prod2>
                        <div class="ingredients-container">
                            <ul class=" list ingredients-list">
                                <li class="ingredients-list__item"> <span class="ingredients-nutrion">kcal </span>
                                    <span class="ingredients__value">240</span>
                                </li>
                                <li class="ingredients-list__item"> <span class="ingredients-nutrion">prot </span>
                                    <span class="ingredients__value">0.2g</span>
                                </li>
                                <li class="ingredients-list__item"> <span class="ingredients-nutrion">fats </span>
                                    <span class="ingredients__value">0 g</span>
                                </li>
                                <li class="ingredients-list__item"> <span class="ingredients-nutrion">carb </span>
                                    <span class="ingredients__value">0g</span>
                                </li>
                            </ul>

                        </div>
                        <div class="reciept">

                            <ul class="second list">

                                <li class="product-text">200ml strong black coffee</li>
                                <li class="product-text">50ml milk</li>
                                <li class="product-text">ice</li>
                                <li class="product-text">maple syrup etc.</li>

                            </ul>
                        </div>
                        <button type="button" class="close-prod-btn" data-prod-close1>
                            <svg class="close-icon">
                                <use href="./images/sprite.svg#close-button"></use>
                            </svg>
                        </button>
                        <button type="button" class="close-prod-btn" data-prod-close2>
                            <svg class="close-icon">
                                <use href="./images/sprite.svg#close-button"></use>
                            </svg>
                        </button>

                    </div>

                </li>
                <li class="product-list__item milkshakes">
                    <h3 class="product-list__subtitle milkshakes">milkshakes</h3>
                    <p class="product-description"> Sweet drinks based on milk and ice cream, supplemented with
                        syrups,
                        fruits, berries and other sweets of your
                        choice</p>
                    <button class="product-btn  milkshakes " type="button" data-prod-open3> <svg class="product-icon">
                            <use href="./images/sprite.svg#arrow"></use>
                        </svg></button>

                    <div class="prod-menu milkshakes-bcg is-hidden__product" data-prod3>
                        <div class="ingredients-container">
                            <ul class=" list ingredients-list">
                                <li class="ingredients-list__item"> <span class="ingredients-nutrion">kcal </span>
                                    <span class="ingredients__value">111</span>
                                </li>
                                <li class="ingredients-list__item"> <span class="ingredients-nutrion">prot </span>
                                    <span class="ingredients__value">4g</span>
                                </li>
                                <li class="ingredients-list__item"> <span class="ingredients-nutrion">fats </span>
                                    <span class="ingredients__value">0 g</span>
                                </li>
                                <li class="ingredients-list__item"> <span class="ingredients-nutrion">carb </span>
                                    <span class="ingredients__value">18g</span>
                                </li>
                            </ul>

                        </div>
                        <div class="reciept">

                            <ul class="second list">

                                <li class="product-text">⅔ cup milk</li>
                                <li class="product-text">2 cups ice cream</li>
                                <li class="product-text">3 tablespoons chocolate syrup or mix ins of your choic</li>
                                <li class="product-text">whipped cream for topping optional</li>

                            </ul>
                        </div>
                        <button type="button" class="close-prod-btn" data-prod-close1>
                            <svg class="close-icon">
                                <use href="./images/sprite.svg#close-button"></use>
                            </svg>
                        </button>
                        <button type="button" class="close-prod-btn" data-prod-close3>
                            <svg class="close-icon">
                                <use href="./images/sprite.svg#close-button"></use>
                            </svg>
                        </button>

                    </div>
                </li>
            </ul>
        </div>
    </div>

</section>
<script src="./js/prod.js"></script>