<section id="products">
    <div class="products">
        <div class="container">
            <span class="pre-title">100% natural</span>
            <h2 class="products-title">products</h2>
            <ul class="product-list">
                <li class="product-list__item ice-cream">
                    <h3 class="product-list__subtitle ice-cream">ice cream </h3>
                    <p class="product-description">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
                    <button class="product-btn ice-cream" type="button" > <svg class="product-icon"> <use href="./images/sprite.svg#arrow"></use> </svg> </button>
            
                </li>
                <li class="product-list__item ice-coffee">
                    <h3 class="product-list__subtitle ice-coffee"> ice coffee</h3>
                    <p class="product-description"> Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and
                        flavor enhancers</p>
                        <button class="product-btn ice-coffee" type="button" > <svg  class="product-icon"> <use href="./images/sprite.svg#arrow"></use> </svg> </button>
                    
            
                </li>
                <li class="product-list__item milkshakes">
                    <h3 class="product-list__subtitle milkshakes">milkshakes</h3>
                    <p class="product-description"> Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your
                        choice</p>
                        <button class="product-btn milkshakes" type="button" > <svg class="product-icon"> <use href="./images/sprite.svg#arrow"></use> </svg> </button>
            
                </li>
            </ul>
        </div>
    </div>