
/*Кнопка с темным текстом и темной стрелкой использовать для (Buy now, Read more, Our Locations)*/ 
.button-arrow {
    position: relative;
    
    min-width: 152px;
    height: 42px;
    padding: 12px 52px 12px 34px;
    
    border: none;
    background: var(--btn-default-color);
    border-radius: 10px;
   
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #000000;

    transition-property: background, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
    &::after {
        content: "";
        position: absolute;
        transform: translate(-34px, 15px);
        top: 0;
        right: 0;
        
        width: 12px;
        height: 12px;
        
        background-image: url(../images/svg-icon/arrow-black.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    &:hover {
        background: #0A8817;
    }
    &:focus{
        color: #FCFCFC;
        background: #0A8817;
        &::after {
                background-image: url(../images/svg-icon/arrow-white-new.svg); 
            }
    }

}


/*Кнопка  с рамкой и  стрелкой использовать для (Franchise)*/
.button-arrow-border {
    position: relative;
   
    min-width: 196px;
    height:42px;
    padding: 11px 64px 12px 46px; 

    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #000000;

    border: 2px solid var(--btn-default-color);
    background: var(--main-background-color);
    border-radius: 10px;

    
    transition-property: border, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &::after {
        content: "";
        position: absolute;
        transform: translate(-46px, 14px);
        top: 0;
        right: 0;
        width: 12px;
        height: 12px;
        background-image: url(../images/svg-icon/arrow-black.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;

        transition-property: background-image;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover{
        border: 2px solid #0A8817;
    }
    &:focus{
        border: 2px solid #0A8817;
        color: #FCFCFC;
        &::after {
            background-image: url(../images/svg-icon/arrow-white-new.svg);
            }
    }
    
}

/*Кнопка рамкой использовать для (Products)*/
.button-border {

    min-width: 62px;
    height: 24px;
    padding: 6px 8px;

    background: var(--main-background-color);
    border: 2px solid var(--btn-default-color);
    border-radius: 8px;


    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 8px;
    line-height: 1.22;
    text-align: center;
    color: #000000;

    transition-property: border, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover{
        border: 2px solid #0A8817;
    }
    &:focus{
        color: #FCFCFC;
    }
}

@media screen and(min-width:1199px) {
    .button-border {
        min-width: 134px;
        height: 42px;
        padding: 11px 34px 12px 34px;


        font-size: 14px;
        line-height: 1.29;
        border-radius: 10px;
    }
}

/*Кнопка текстом использовать для (How it’s made?)*/
.button-text{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 8px;
    line-height: 2;
    text-align: center;
    
    color: var(--btn-default-color);
    background: inherit;
    text-decoration-line: underline;
    border: none;
    
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover{
        color: #0A8817;
        }

        &:focus {
        color: #FCFCFC;
        }
}

@media screen and(min-width:1200px) {
    .button-text {
        font-size: 14px;
        line-height: 1.21;
    }
}
