
/*Кнопка с темным текстом и темной стрелкой использовать для (Buy now, Read more, Our Locations)*/ 
.button-arrow {
    position: relative;
    
    min-width: 152px;
    height: 42px;
    padding: 12px 52px 12px 34px;
    
    border: none;
    background: #F8D24E;
    border-radius: 10px;
   
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #000000;

    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
    &::after {
        content: "";
        position: absolute;
        transform: translate(-34px, 16px);
        top: 0;
        right: 0;
        
        width: 12px;
        height: 12px;
        
        background-image: url(../images/arrow-black.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    &:hover {
        background: #0A8817;
    }
    &:focus{
        font-weight: 700;
        font-size: 15px;
        line-height: 1.2;
    }

}


/*Кнопка с белым текстом и белой стрелкой использовать для (Franchise)*/
.button-arrow-border {
    position: relative;
   
    min-width: 196px;
    height:42px;
    padding: 12px 64px 12px 46px; 

    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fff;

    border: 2px solid #F8D24E;
    background: #AEC6A5;
    border-radius: 10px;

    
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &::after {
        content: "";
        position: absolute;
        transform: translate(-46px, 16px);
        top: 0;
        right: 0;
        width: 12px;
        height: 12px;
        background-image: url(../images/arrow-white-new.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    &:hover{
        border: 2px solid #0A8817;
    }
    &:focus{
        font-weight: 700;
        font-size: 15px;
        line-height: 1.2;
    }
    
}

/*Кнопка рамкой использовать для (Products)*/
.button-border {

    min-width: 62px;
    height: 24px;
    padding: 6px 8px;

    background: #AEC6A5;
    border: 2px solid #F8D24E;
    border-radius: 8px;


    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 8px;
    line-height: 1.22;
    text-align: center;
    color: #000000;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border: 2px solid #0A8817;
        font-size: 9px;
    }
}

@media screen and(min-width:1199px) {
    .button-border {
        min-width: 134px;
        height: 42px;
        padding: 12px 34px;


        font-size: 14px;
        line-height: 1.29;
        border-radius: 10px;

        &:hover {
            border: 2px solid #0A8817;
            font-size: 14px;
        }

        &:focus {
            font-weight: 700;
            font-size: 15px;
            line-height: 1.2;
        }
    }
}

/*Кнопка текстом использовать для (How it’s made?)*/
.button-text{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 8px;
    line-height: 2;
    text-align: center;
    
    color: #F8D24E;
    background: inherit;
    text-decoration-line: underline;
    border: none;
    
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus{
        color: #0A8817;
        font-weight: 700;
        font-size: 9px;
        line-height: 1.22;
        }
}

@media screen and(min-width:1200px) {
    .button-text {
        font-size: 14px;
        line-height: 1.21;
        &:hover{
        font-weight: 600;
        font-size: 14px;
        line-height: 1.21;
         }
         &:focus{
        font-weight: 700;
        font-size: 15px;
        line-height: 1.2;
        }
    }
}
