.header {
  background: #84a178;
  padding-top: 12px;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-svg {
  fill: #f8d24e;
  width: 41px;
  height: 37px;
}

.mobile-menu-svg {
  fill: #fff;
}

.mobile-menu-open {
  background-color: transparent;
  padding: 0;
  line-height: 0;
  border: 0px;
}

// 0 - 767px

@media screen and (max-width: 767px) {
  .header-flex {
    flex-wrap: wrap;
  }

  .header-nav__first {
    display: none;
  }

  .header-contact {
    display: none;
  }

  // .mobile-menu-open {
  //   background-color: transparent;
  //   padding: 0;
  //   line-height: 0;
  // }

  //   .header {
  //     background: #84a178;
  //     padding-top: 10px;
  //     padding-bottom: 10px;
  //   }

  .hidden {
    display: none;
  }
}

// 768px - max
@media screen and (min-width: 768px) {
  .mobile-menu-open {
    // display: none;
    margin-right: 32px;
  }

  .header {
    padding-top: 20px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-nav__first {
    // display: flex;
    // align-items: center;
    // gap: 50px;
    // margin-left: 88px;

    display: none;
  }

  .header-contact__icon {
    max-width: 14px;
    height: 14px;
    margin-right: 8px;
    fill: currentColor;
  }

  .header-contact__item {
    display: inline;
  }

  .header-contact__link {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    transition: color var(--transition-value);

    &:hover,
    &:focus {
      color: var(--accent-color);
      fill: var(--accent-color);
    }
  }

  // .header-nav__item {
  //   & .header-nav__link {
  //     position: relative;
  //   }

  //   & > .current::before {
  //     content: '';
  //     width: 100%;
  //     height: 4px;
  //     position: absolute;
  //     bottom: 0px;
  //     background: var(--accent-color);
  //     border-radius: 2px;
  //   }
  // }
}
// 1200px - max
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 8px;
  }

  .header-nav__first {
    display: flex;
    align-items: center;
    gap: 27px;
    margin-left: 269px;

    // display: none;
  }

  .header-nav__link {
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 1.25;
    color: #fcfcfc;
    transition: color var(--transition-value);

    &:hover,
    &:focus,
    &.current {
      color: #f8d24e;
    }
  }

  .mobile-menu-open {
    display: none;
  }
}
