.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background: #85a279;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-value),
    visibility var(--transition-value);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  padding-top: 12px;
  padding-bottom: 63px;
}

.logo-and-burger {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu__close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-menu__close-icon {
  // &:hover,
  // &:focus {
  //   fill: red;
  // }
  fill: #ffffff;
  // transition: fill var(--transition-value);
}

.mobile-menu__menu {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 51px;
}

.mobile-menu__menu-link {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  color: #fcfcfc;
  // transition: color var(--transition-value);

  // &:hover,
  // &:focus,
  // &.current {
  //   color: var(--accent-color);
  // }
}

.mobile-burg-btn {
  text-align: center;
  margin-top: 40px;
}

.mobile-btn {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  // margin: 0 auto;
  color: #000000;
  background: #f8d24e;
  border-radius: 10px;
  padding: 12px 34px;
  border: none;
}

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) {
  .mobile-menu__container {
    padding-top: 20px;
    padding-bottom: 429px;
  }

  .logo-svg {
    width: 48px;
    height: 44px;
  }

  .mobile-menu__menu {
    margin-top: 76px;
  }

  .mobile-menu__menu-link {
    font-size: 48px;
    line-height: 1.23;
  }

  .mobile-burg-btn {
    display: none;
  }

  .mobile-btn {
    margin: auto 0;
  }
}

@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }

  .logo-svg {
    width: 60px;
    height: 65px;
  }
}
