.contacts {
  background-color: var(--main-background-color);
  max-height: 994px;
}

.contacts__container {
  display: flex;
  flex-direction: column;
}

.contacts-card {
  padding: 40px 32px;
  background-color: var(--primary-text-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts-card__suptitle {
  display: inline-block;
  padding: 0 22px;
  text-align: center;
  background-color: var(--btn-default-color);
  color: var(--primary-text-color);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .contacts-card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
  }

  .contacts-card {
    width: calc((100% - 8px * 6) / 3);
    margin: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__list {
    margin: -16px;
  }

  .contacts-card {
    width: calc((100% - 16px * 6) / 3);
    margin: 16px;
  }
}
