.gallery-container{
    display: flex;
    align-items: center;
    justify-content:center;
}
.section-gallery{
    position: relative;
    height: auto;
@media screen and (min-width:1200px) {
    
}}
.gallery-list{
display: grid;
justify-content: center;
position: absolute;
    top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
 grid-gap: 1px;
 grid-template-columns: repeat(7, 40px);
 grid-template-rows: repeat(6, 20px);
@media screen and (max-width: 767px) {
                margin-top: -24px;
                width: 279px;
            }
 @media screen and (min-width:768px) {
        grid-template-columns: repeat(7, 80px);
        grid-template-rows: repeat(6, 40px);
        margin-top: -164px;
        width: 704px;
        
    }

    @media screen and (min-width:1200px) {
        grid-template-columns: repeat(7, 140px);
        grid-template-rows: repeat(6, 70px);
        margin-top: -94px;
        width: 1013px;
    }

}

.gallery__picture {
    border-radius: 6px;
    max-width: 100%;
    height: auto;
    display: block;
}

.gallery__item {
 transition-property: transform;
 transition-duration: .25s;
 transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    &:hover,
    &:focus {
        transform: scale(2);
    }

    &:nth-child(4):hover,
    &:nth-child(4):focus {
        transform: scale(1.3);
    }}

.gallery__item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}


.gallery__item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}
.gallery__item:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 4 / 6;
}

.gallery__item:nth-child(4) {
    grid-column: 3 / 5;
    grid-row: 1 / 5;
}

.gallery__item:nth-child(5) {
    grid-column: 3 / 4;
    grid-row: 4 / 6;
}

.gallery__item:nth-child(6) {
    grid-column: 5 / 6;
    grid-row: 2 / 5;
}

.gallery__item:nth-child(7) {
    grid-column: 4 / 6;
    grid-row: 4 / 7;
}

.gallery__item:nth-child(8) {
    grid-column: 6 / 7;
    grid-row: 2 / 4;
}

.gallery__item:nth-child(9) {
    grid-column: 6 / 7;
    grid-row: 4 / 6;
}

.gallery__item:nth-child(10) {
    grid-column: 7 / 8;
    grid-row: 3 / 5;
}

// За шаблоном:
// .section-gallery {
//     position: relative;
// }

// .gallery__picture {
//     position: absolute;
//     display: block;
//     height: auto;
//     top: 0%;
//     left: 50%;
//     transform: translate(-50%, 0%);
//     cursor: pointer;

//     animation-name: Appearance;
//     animation-duration: 1s;
//     animation-timing-function: cubic-bezier(.9,.7,.2,.9);
//     animation-iteration-count: infinite;
//     animation-direction: alternate;



//     @media screen and (max-width: 767px) {
//         margin-top: -24px;
//         width: 279px;
//     }

//     @media screen and (min-width: 768px) {
//         margin-top: -164px;
//         width: 704px;
//     }

//     @media screen and (min-width: 1200px) {
//         margin-top: -94px;
//         width: 1013px;
//     }
// }

// // Animation
// @keyframes Appearance {

//     0% {
//         opacity: 0.2;
//     }

//     100% {
//         opacity: 1
//     }
// }