.section-gallery{
    background-image:url(../images/ice-cream-background/jpg/ice-cream-background-bottom/480/ice-cream-background-bottom-480@1x.jpg);
}

/*Mobile version*/
@media screen and (min-device-pixel-ratio: 2) and (max-width:767px),
screen and (min-resolution: 192dpi) and (max-width:767px),
screen and (min-resolution: 2dppx) and (max-width:767px) {
    .section-gallery {
        background-image:url("../images/ice-cream-background/jpg/ice-cream-background-bottom/480/ice-cream-background-bottom-480@2x.jpg");
    }
}
@media screen and (min-device-pixel-ratio: 3) and (max-width:767px),
screen and (min-resolution: 288dpi) and (max-width:767px),
screen and (min-resolution: 3dppx) and (max-width:767px) {
    .section-gallery {
        background-image: url("../images/ice-cream-background/jpg/ice-cream-background-bottom/480/ice-cream-background-bottom-480@3x.jpg");
    }
}



/*Tablet version*/
@media screen and (min-width:768px){
    .section-gallery {
        background-image: url("../images/ice-cream-background/jpg/ice-cream-background-bottom/768/ice-cream-background-bottom-768@1x.jpg");
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width:768px),
screen and (min-resolution: 192dpi) and (min-width:768px),
screen and (min-resolution: 2dppx) and (min-width:768px) {
    .section-gallery {
        background-image: url("../images/ice-cream-background/jpg/ice-cream-background-bottom/768/ice-cream-background-bottom-768@2x.jpg");
    }
}

@media screen and (min-device-pixel-ratio: 3) and (min-width:768px),
screen and (min-resolution: 288dpi) and (min-width:768px),
screen and (min-resolution: 3dppx) and (min-width:768px) {
    .section-gallery {
        background-image: url("../images/ice-cream-background/jpg/ice-cream-background-bottom/768/ice-cream-background-bottom-768@3x.jpg");
    }
}
/*Desktop version*/
@media screen and (min-width:1200px) {
    .section-gallery {
        background-image: url("../images/ice-cream-background/jpg/ice-cream-background-bottom/1200/ice-cream-background-bottom-1200@1x.jpg");
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width:1200px),
screen and (min-resolution: 192dpi) and (min-width:1200px),
screen and (min-resolution: 2dppx) and (min-width:1200px) {
    .section-gallery {
        background-image: url("../images/ice-cream-background/jpg/ice-cream-background-bottom/1200/ice-cream-background-bottom-1200@2x.jpg");
    }
}

@media screen and (min-device-pixel-ratio: 3) and (min-width:1200px),
screen and (min-resolution: 288dpi) and (min-width:1200px),
screen and (min-resolution: 3dppx) and (min-width:1200px) {
    .section-gallery {
        background-image: url("../images/ice-cream-background/jpg/ice-cream-background-bottom/1200/ice-cream-background-bottom-1200@3x.jpg");
    }
}


.container__gallery{
    margin-left: auto;
    margin-right: auto;
}