.products {
    background-image: url(../images/ice-cream-background/svg/ice-cream-background-top-480.svg);
    background-repeat: no-repeat;
        background-size: 100%;
    
    // @media 
    //     (min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) 
    //     {background-image: url(../images/ice-cream-background/svg/ice-cream-background-top-480.svg);
    //         background-repeat: no-repeat;
    //             background-size: 100%;
    //     }
        
}

@media screen and (min-width: 768px) { 
        .products {background-image: url(../images/ice-cream-background/svg/ice-cream-background-top-768.svg);
            background-repeat: no-repeat;
                background-size: 100%;
        
        // @media (min-device-pixel-ratio: 2),
        // (min-resolution: 192dpi), (min-resolution: 2dppx) {
        //         background-image: url(../images/ice-cream-background/svg/ice-cream-background-top-768.svg);
        //         background-repeat: no-repeat;
        //             background-size: 100%;
        //     }
        }
    }    

@media screen and (min-width: 1200px) { 
        .products {background-image: url(../images/ice-cream-background/svg/ice-cream-background-top-1200.svg);
            background-repeat: no-repeat;
            background-size: 100%;
        
            // @media (min-device-pixel-ratio: 2),
            // (min-resolution: 192dpi),
            // (min-resolution: 2dppx) {
            //     background-image: url(../images/ice-cream-background/svg/ice-cream-background-top-1200.svg);
            //     background-repeat:no-repeat;
            //     background-size: 100%;
            // }
        }
    }    

.pre-title {
    display: block;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    color: var(--accent-text-color);
    margin-bottom: 12px;
    padding-top: 60px;
    
    @media screen and (min-width: 768px) {
        font-size: 22px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 30px;
    }
    
}

.products-title {
    font-family: Seymour One;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.26;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--accent-text-color);

    margin-bottom: 150px;

    @media screen and (min-width: 768px) {
        font-size: 34px;
        margin-bottom: 200px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 36px;
        letter-spacing: 0.06em;
        margin-bottom: 300px;
    }
}
.product-list__subtitle {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--card-description-color);

    margin-top: 123px;

    @media screen and (min-width: 768px) {
        font-size: 27px;
        margin-top: 108px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        margin-top: 165px;
    }
}
.product-list__subtitle.ice-cream::before {
    content: " ";
    background-repeat: no-repeat;
    position: absolute;
    height: 200px;
    width: 200px;
    top: -102px;
    left: 40px;
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
    border-radius: 50% ;
    
    @media screen and (min-width: 768px) {
            height: 200px;
            width: 200px;
            top: -101px;
            left: 14px;
        }
    @media screen and (min-width: 1200px) {
        height: 300px;
        width: 300px;
        top: -167px;
        left: 35px;
    }
} 

.product-list__subtitle.ice-cream::after {
    content: " ";
    background-repeat: no-repeat;
    position: absolute;
    height: 200px;
    width: 200px;
    top: -113px;
    left: 40px;
    background-image: url(../images/products/ice-cream-480@1x.webp);
    z-index: 5;

    @media screen and (min-width: 768px) {
            height: 200px;
            width: 200px;
            top: -112px;
            left: 14px; 
    
        }
    @media screen and (min-width: 1200px) {
            height: 300px;
            width: 300px;
            top: -184px;
            left: 35px;
        
        }
}

@media screen and (min-width: 768px) {
    .product-list__subtitle.ice-cream::after {
        background-image: url(../images/products/ice-cream-768@1x.webp);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/ice-cream-768@2x.webp);
        background-size: 200px 200px;
        }
    }
}
    
@media screen and (min-width: 1200px) {
    .product-list__subtitle.ice-cream::after {
        background-image: url(../images/products/ice-cream-1200@1x.webp);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/products/ice-cream-1200@2x.webp);
            background-size: 300px 300px;
        }
    }
}

.product-list__subtitle.ice-coffee::before {
    content: " ";
    background-repeat: no-repeat;
    position: absolute;
    height: 200px;
    width: 200px;
    top: -102px;
    left: 40px;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
    border-radius: 50%;
    @media screen and (min-width: 768px) {
        height: 200px;
        width: 200px;
        top: -101px;
        left: 14px;
    }
    @media screen and (min-width: 1200px) {
        height: 300px;
        width: 300px;
        top: -167px;
        left: 35px;
    }
                

}

.product-list__subtitle.ice-coffee::after {
    content: " ";
    background-repeat: no-repeat;
    position: absolute;
    height: 200px;
    width: 200px;
    top: -113px;
    left: 40px;
    background-image: url(../images/products/ice-coffee-480@1x.webp);
    z-index: 5;
    @media screen and (min-width: 768px) {
            height: 200px;
            width: 200px;
            top: -112px;
            left: 14px;
            
        }
        @media screen and (min-width: 1200px) {
            height: 300px;
            width: 300px;
            top: -184px;
            left: 35px;
    
        }
    
}
@media screen and (min-width: 768px) {
    .product-list__subtitle.ice-coffee::after {
        background-image: url(../images/products/ice-coffee-768@1x.webp);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/products/ice-coffee-768@2x.webp);
            background-size: 200px 200px;
        }
    }
        @media screen and (min-width: 1200px) {
            .product-list__subtitle.ice-coffee::after {
                background-image: url(../images/products/ice-coffee-1200@1x.webp);
    
                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(../images/products/ice-coffee-1200@2x.webp);
                    background-size: 300px 300px;
                }
            }
        }
}
.product-list__subtitle.milkshakes::before {
    content: " ";
    background-repeat: no-repeat;
    position: absolute;
    height: 200px;
    width: 200px;
    top: -102px;
    left: 40px;
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
    box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    @media screen and (min-width: 768px) {
        height: 200px;
        width: 200px;
        top: -101px;
        left: 14px;
        }
@media screen and (min-width: 1200px) {
    height: 300px;
    width: 300px;
    top: -167px;
    left: 35px;
}

}

.product-list__subtitle.milkshakes::after {
    content: " ";
    background-repeat: no-repeat;
    position: absolute;
    height: 200px;
    width: 200px;
    top: -113px;
    left: 40px;
    background-image: url(../images/products/milkshakes-480@1x.webp);
    z-index: 5;
    @media screen and (min-width: 768px) {
        height: 200px;
        width: 200px;
        top: -112px;
        left: 14px;
        
        }
                @media screen and (min-width: 1200px) {
                    height: 300px;
                    width: 300px;
                    top: -184px;
                    left: 35px;
        
                }
}
@media screen and (min-width: 768px) {
    .product-list__subtitle.milkshakes::after {
        background-image: url(../images/products/milkshakes-768@1x.webp);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/products/milkshakes-768@2x.webp);
            background-size: 200px 200px;
        }
    }
}
@media screen and (min-width: 1200px) {
    .product-list__subtitle.milkshakes::after {
        background-image: url(../images/products/milkshakes-1200@1x.webp);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/products/milkshakes-1200@2x.webp);
            background-size: 300px 300px;
        }
    }
}
.product-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.76;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--card-description-color);
    padding-left: 40px;
    padding-right: 40px;
    
    min-width: 200px;
    margin-top: 35px;

    @media screen and (min-width: 1200px) {
        font-size: 16px;
    }
}


.product-list__item.ice-cream {
    
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    

}
.ice-cream {
    background: var(--card-icecream-background-color);
    
}
.ice-cream-bcg {
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}

.product-list {

    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        
        gap: 16px;
    }

        @media screen and (min-width: 1200px) {
            display: flex;
            flex-direction: row;
    
            gap: 32px;
        }
}
.product-list__item {
    height: 520px;
    position: relative;
    margin-bottom: 164px;
    max-width: 280px;
    

    @media screen and (min-width: 768px) {
        width: calc((100% - 32px) / 3);
        max-width: 224px;
        height: 535px;
        
        margin-left: auto;
        margin-right: auto;
    }
        @media screen and (min-width: 1200px) {
            width: calc((100% - 64px) / 3);
            max-width: 368px;
            height: 535px;
    
            margin-left: auto;
            margin-right: auto;
        }
}

.product-list__item.ice-coffee {
    background: var(--card-icecoffee-background-color);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
}
.ice-coffee {
    background: var(--card-icecoffee-background-color);
}
.ice-coffee-bcg {
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
        box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}
.product-list__item.milkshakes {
    background: var(--contacts-accent-text-color);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
}
.milkshakes {
    background: var(--contacts-accent-text-color);
}
.milkshakes-bcg {
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
        box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}
.product-icon {
    width: 40px;
    height: 15px;
    
}
.product-icon:hover,
.product-icon:focus {
    width: 60px;
    height: 15px;
    fill: #0a8817;;
    transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.product-btn {
    border-color: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: auto;    
    
}

.is-hidden__product {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.prod-menu {
    
    display: flex;
    align-items: center;
    justify-content: center ;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    
    border-radius: 24px;

    
    transition-duration: 1000ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%), 1px 4px 6px rgb(0 0 0 / 16%);
    

    background-color: palegoldenrod;
}

.close-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    fill: currentColor;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    // transition-property: fill;
    transition-duration: 1000ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        // box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%), 1px 4px 6px rgb(0 0 0 / 16%);
        

    
}
.close-prod-btn {
    position: absolute;
    top: 470px;
    right: 125px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-color: transparent;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
    @media screen and (min-width: 768px) {
        top: 485px;
        right: 97px;
    }
    @media screen and (min-width: 1200px) {
        top: 485px;
        right: 163px;
    }

            
}

.close-icon {
    &:hover,
    &:focus {
        fill: #0a8817;;
    }
}
.product-text {
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.76;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--card-description-color);
    padding-left: 20px;
    padding-right: 20px;
}



.ingredients-container  {
    // position: relative;
    margin-top: -232px;
    display: flex;
    @media screen and (min-width: 1200px)
    {
        margin-top: -177px;
    }
}
.ingredients-list {
    width: 100%;
    // margin-top: 255px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
    @media screen and (min-width: 1200px) {
        gap: 20px;
    }
}

.ingredients-list__item {
    // position: relative;
    width: 53px;
    height: 90px;
    border-radius: 40px;
    border: solid 2px #eee8aa;;
    // width:calc((100% - 60px) / 3);
}
.ingredients__value {
    position: relative;
    // top: 324px;
    border-radius: 50px;
    display: flex;
    width: 50px;
    height: 46px;
    color: #131313;
    background-color: #eee8aa;;
    justify-content: center;
    align-items: center;
}
.ingredients-nutrion {
    position: absolute;
    top: 164px;
    font-size: 12px;
    text-align: center;
    margin-left: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 1200px)
    {
        top: 190px;
    }
        
    
}
.second {
    margin-top: 195px;
    width: 215px;
    display: flex;
    flex-direction: column;
}
.reciept {
    position: absolute;
}